<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <title>Richards Filmer</title>
</head>

<body>
  <div class="header-container"><%- include('partials/header') %></div>

  <section class="info-page">
  
  <div class="info-card">
  
      <div class="info-card_text">
    <h1><%= movie.title %></h1>
    <%- movie.description %>
     </div>

     <div class="info-card_img">
      <img src="<%= movie.image %>" />
      </div>

  </div>

</section>
  <div class="footer__container"><%- include('partials/footer') %></div>
  <script type="module" src="/js/main.js"></script>
</body>

</html>