<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <title>Richards Filmer</title>
</head>

<body>


  <div class="header-container"><%- include('partials/header') %></div>

  <section class="info-page">

    <div class="info-card">
      
      <img class="info-card_img" src="<%= movie.image %>" />


      <div class="info-card_aside">
        <div class="info-card_text">
      
 <!-- Lägg till faktiska betyg här -->
        <p>&#11088; 9.8</p>
    <h1> <%= movie.title %></h1>
          <%- movie.description %>

        </div>

    
        <div class="info-card_buttons">
          <button class="reviewBtn _view"> Visa recensioner </button>
          <button class="reviewBtn _write" id="reviewBtn">Skriv recension</button>
          <div id="reviewPopup" class="popupWrite" style="display: none;">
            <div class="popupWrite-content">
              <div id="popupWriteInnerContent">
                <!-- Här laddas reviews.ejs -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Lägg till filmvisningar här -->


  </section>


  <div class="footer__container"><%- include('partials/footer') %></div>



  <script type="module" src="/js/main.js"></script>
  <script type="module" src="/js/reviews.js"></script>
</body>

</html>